.accordion-button:not(.collapsed) {
    background-color: #e7f1ff;
    color: #0c63e4;
  }
  
  .accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0,0,0,.125);
  }
  
  .form-control:focus,
  .form-select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
  }
  
  .invalid-feedback {
    display: block;
  }