<div class="container">
  <div class="row">
    <div class="col-12">
      <nav class="navbar navbar-expand-sm custom-border">

        <div class="container-fluid">
          <!-- Links -->
          <ul class="navbar-nav ">
            <li class="nav-item">
              <a class="nav-link" routerLink="employee/0"><b>New Employee </b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="newlist"><b>List</b></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="login"><b>Login</b></a>
            </li>
          </ul>
        </div>
      
      </nav>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
