<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <header>
        <div class="px-3 py-2 text-bg-dark border-bottom">
          <div class="container-fluid">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
              <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">

                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor"
                  class="bi bi-person-plus" viewBox="0 0 16 16">
                  <path
                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                  <path fill-rule="evenodd"
                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5" />
                </svg>
                <span class="ps-3">Employee Management System</span>
              </a>

              <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                  <a href="#" class="nav-link text-white" routerLink="employee/0">
                    <!-- <a class="nav-link" routerLink="employee/0"><b>New Employee </b></a> -->
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                      <use xlink:href="#home" />
                    </svg>
                    New Employee
                  </a>
                </li>
                <li>

                  <a href="#" class="nav-link text-white" routerLink="newlist">
                    <svg class="bi d-block mx-auto mb-1" width="24" height="24" aria-hidden="true">
                      <use xlink:href="#speedometer2" />
                    </svg>
                    List
                  </a>
                </li>

              </ul>
            </div>
          </div>
        </div>

      </header>
    </div>
  </div>
</div>

<router-outlet></router-outlet>